cutout_data/
settings.json
.vscode
.ipynb_checkpoints/
paper
tables
figures
classification_results.csv
notebooks
ruff.toml
*.lock
classifications/
classification_results*
*copy.py
tile_info/
requirements_dwarfvision.txt
models/
detection_dfs/
fits_data/
test_fields/